mat-card-title {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  color: #FFF;
}

mat-card-content {
  color: #FFF;

}

.task-card {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  gap: 15px;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.task-info {
  flex: 1;
}

.task-actions {
  display: flex;
}

