mat-card-title {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  color: #FFF;

}

mat-card-content {
  color: #FFF;
  padding: 7px 0 10px 0;
}

.task-card {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  gap: 15px;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.task-info {
  flex: 1;
  margin-left: 1rem;
}

.task-actions {
  display: flex;
  gap: 1rem;
}

.completed-task {
  text-decoration: line-through;
  color: gray;
}

.no-tasks-message {
  text-align: center;
  font-size: 18px;
  color: #555;
  background-color: #f7f7f7;
  border-radius: 8px;
  margin-top: 20px;
  font-weight: bold;
}

.no-tasks-message:hover {
  background-color: #f1f1f1;
}
