.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1E1E2F;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

mat-card {
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.full-width {
  width: 100%;
}

.spinner {
  display: block;
  margin: 20px auto;
}

.error-msg {
  margin-top: 1rem;
  color: red;
}
