<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <div class="header-content">
        <mat-icon>login</mat-icon>
        <mat-card-title> ToDo List App</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email is required.
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Please enter a valid email.
          </mat-error>
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button
                  class="login-button"
                  type="submit"
                  [disabled]="loginForm.invalid || isLoading">
            <ng-container *ngIf="isLoading; else submitText">
              Loading...
            </ng-container>
            <ng-template #submitText>Login</ng-template>
          </button>
          <button mat-raised-button (click)="openAddModal()"> open modal </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
