<div class="login-container">
  <mat-card>
    <mat-card-title>Iniciar Sesión</mat-card-title>
    <form [formGroup]="loginForm"
          (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          El correo es obligatorio
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Ingresa un correo válido
        </mat-error>
      </mat-form-field>
      <button mat-raised-button
              color="primary"
              class="full-width"
              type="submit"
              [disabled]="loginForm.invalid">
              Ingresar
      </button>
      <mat-card class="error-msg"
                *ngIf="userNotFound">
                Usuario no encontrado
      </mat-card>
    </form>
  </mat-card>
</div>
