<app-header />
<div class="container">
  <div class="dashboard-container">
    <div class="header">
      <h2>Good to see you {{ email }}</h2>
    </div>
    <div class="new-task">
      <button mat-fab color="primary" (click)="onAddEditTask()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="filter-container">
      <app-filter (filterChanged)="applyFilter($event)" />
    </div>
    <mat-divider></mat-divider>
    <div class="task-list-container">
      <app-task-list [tasks]="paginatedTasks"
        (edit)="onAddEditTask($event)"
        (delete)="onDeleteTask($event)"
        (taskCompleted)="onTaskCompleted($event)" />
    </div>
    <mat-divider></mat-divider>
    <div class="paginator-container">
      <app-paginator [length]="filteredTasks.length"
        [pageSize]="pageSize"
        (pageChanged)="onPageChange($event)"/>
    </div>
  </div>
</div>
