
.container {
  display: flex;
  background-color: #121212;
  min-height: 100vh;
  justify-content: flex-start;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10rem 7rem 0 7rem;

  @media (max-width: 1200px) {
    padding: 8rem 5rem 0 5rem;
  }

  @media (max-width: 992px) {
    padding: 7rem 4rem 0 4rem;
  }

  @media (max-width: 768px) {
    padding: 4rem 2rem 0 2rem;
  }

  @media (max-width: 576px) {
    padding: 2rem 1rem 0 1rem;
  }
}

.task-list-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem;
}

.paginator-container {
  justify-content: center;
  margin-top: 20px;
}
.new-task {
  flex-direction:column;
  margin: 1rem 0;
  align-self:flex-end;
}

.header {
  color: #FFF;
  // padding: 2rem;
}
